@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    height: 100vh;
    margin: 0 auto;
    max-width: 1540px;
    display: flex;
    justify-content: center;
    font-family: 'Josefin Sans', sans-serif;
    background-image: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
}

.container {
    width: 58%;
    background-image: url(images/bg-pattern-desktop.svg);
    background-size: cover;
    padding: 50px 200px 100px 140px;
}

.bg-image {
    flex: 1;
    background-image: url(images/hero-desktop.jpg);
    background-size: cover;
}

.container-logo {
    width: 50%;
    height: auto;
}

.container-form--title {
    color: hsl(0, 6%, 24%);
    font-size: 28px;
    text-transform: uppercase;
    letter-spacing: 15px;
    line-height: 60px;
    padding-top: 120px;
    padding-bottom: 20px;
}

.container-form--title span {
    font-weight: 300;
    color: hsl(0, 36%, 70%);
}

.container-form--parag {
    color: hsl(0, 36%, 70%);
    line-height: 25px;
    font-size: 14px;
    padding-bottom: 30px;
}

.container-form--input {
    display: flex;
    justify-content: center;
}

.container-form--input input {
    flex: 1;
    padding: 15px 30px;
    outline: 0;
    border-radius: 25px;
    outline: 0;
    background-color: transparent;
    border: 1px solid hsl(0, 36%, 70%);
    color: hsl(0, 36%, 70%);
    font-weight: 600;
}

.img-error {
    position: relative;
    left: -50px;
    padding: 10px 0;
    display: none;
}

.error-message {
    display: none;
    padding: 10px 20px;
    color: red;
}

.border-red {
    border: 1px solid red;
}

::placeholder {
    color: hsla(0, 36%, 70%, 0.5);
}

.form-button {
    width: 85px;
    border-radius: 25px;
    outline: 0;
    border: none;
    box-shadow: 0px 10px 20px hsla(0, 36%, 70%, 0.5);
    background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    position: relative;
    left: -40px;
    cursor: pointer;
}

.form-button:hover {
    background-image: linear-gradient(135deg, hsl(0, 72%, 94%), hsl(0, 74%, 82%));
}

.container-bg--mobile {
    display: none;
    background-image: url(images/hero-mobile.jpg);
    background-size: cover;
}

.attribution {
    position: fixed;
    bottom: 0;
    padding-bottom: 10px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1160px) {

    body {
        height: max-content;
        overflow-x: hidden;
    }

    .bg-image {
        display: none;
    }

    .container {
        width: 100vw;
        height: max-content;
        padding: 0;
    }

    .container-bg--mobile {
        display: flex;
        max-width: 375px;
        height: 300px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    .container-logo,
    .container-form {
        padding: 30px;
        width: 100vw;
        max-width: 590px;
        min-width: 300px;
    }

    .container-logo {
        padding-bottom: 0;
    }

    .container-form--title {
        padding-top: 30px;
        font-size: 20px;
        line-height: 40px;
    }

    .container-form {
        text-align: center;
        padding-bottom: 100px;
    }
}